div{
	background-color: black;
}
#menu{
   background-color:mediumseagreen;
    width: 200px;
	color:#FDFEFE;
	width: 200px;
	margin-left: 70px;
	padding-left: 20px;
}
#menu1{
    background-color:#40ef7ec2;
    width: 200px;
    margin-right: 18px;
    width: 180px;
    padding-left: 10px;
    color:#FDFEFE;
}
#menu2 {
    margin-left: 85px;
    padding-left: 79px;
    padding: 10px;
    width: 360px;
    color: #FDFEFE;
    background-color: black;
}
#menu3{
	background-color:black;
	color:#FDEEFE;
	width: 200px;
	margin-left: 70px;
	padding-left: 20px;
}
#menu4{
	background-color:black;
	color:#FDEEFE;
	width: 200px;
}
#menu5{

	width:400px;
	margin-top: 10px;
	color: #FDFEFE;
	margin-left: 70px;
	background-color:black;
}
#menu6{
		background-color:black;
		color:#FDEEFE;
		margin-top:10px;
		margin-left: 70px;
		width: 400px;
	}
	#menu7{
		color:white;
		width: 400px;
		margin-left:70px;
		padding-left:200px;
		padding: 10px;
		background-color:#40ef7ec2;
        width: 400px;
		text-align: center;
	}
















